<div class="landing-container">
  <div class="info">
    <h1 class="title-in">Welcome to Sass Showroom!</h1>
    <p>
      This project is an angular wrapper, made for the
      <a class="link" href="https://www.udemy.com/course/advanced-css-and-sass"
        >Advanced css and sass course</a
      >
      of Udemy site, which is created by Jonas Schmedtmann.
    </p>

    <p>
      The main purpose of this project is to demonstrate the power of Sass
      features and how to use them in real-world projects. Sass is a powerful
      css preprocessor, which is used to make css more maintainable, reusable,
      and organized.
    </p>
  </div>

  <div class="navigate-projects">
    <button class="btn" routerLink="/trillo">
      <span class="btn__visible">Trillo</span>
      <span class="btn__invisible">Flexbox</span>
    </button>

    <button class="btn2" routerLink="/nexter">
      <span class="btn2__visible">Nexter</span>
      <span class="btn2__invisible">Grid</span>
    </button>
  </div>
</div>
