<header class="header">
  <img src="assets/img/logo2.png" alt="logo" class="header__logo" />
  <h3 class="heading-3">Your Own Home!</h3>
  <h1 class="heading-1">The ultimate personal freedom</h1>
  <button class="btn header__btn">View your properties</button>
  <div class="header__seenon-text">Seen on</div>
  <div class="header__seenon-logos">
    <img src="assets/img/logo-bbc.png" alt="" />
    <img src="assets/img/logo-forbes.png" alt="" />
    <img src="assets/img/logo-techcrunch.png" alt="" />
    <img src="assets/img/logo-bi.png" alt="" />
  </div>
</header>
