<div class="page-container-trillo">
  <div class="trillo-container">
    <header class="header">
      <img src="assets/img/logo.png" alt="" class="logo" />

      <app-search-bar class="search-bar"></app-search-bar>

      <app-user-nav class="user-nav"></app-user-nav>
    </header>

    <div class="content">
      <nav class="sidebar">
        <app-side-nav></app-side-nav>
      </nav>
      <main class="hotel-view">
        <app-gallery></app-gallery>

        <app-overview></app-overview>

        <div class="detail">
          <app-description class="description"></app-description>

          <app-user-reviews class="user-reviews"></app-user-reviews>
        </div>

        <app-cta></app-cta>
      </main>
    </div>
  </div>
</div>
