<div class="overview">
  <h1 class="overview__heading">AC Hotel Gran Canaria</h1>

  <div class="overview__stars">
    @for(item of [1, 2, 3, 4, 5]; track item){
    <svg class="overview__star-icon">
      <use xlink:href="assets/img/sprite.svg#icon-star"></use>
    </svg>
    }
  </div>

  <div class="overview__location">
    <svg class="overview__location-icon">
      <use xlink:href="assets/img/sprite.svg#icon-location-pin"></use>
    </svg>

    <btn-inline text="Gran Canaria, Spain"></btn-inline>
  </div>

  <div class="overview__rating">
    <div class="overview__rating-average">8.7</div>
    <div class="overview__rating-count">429 votes</div>
  </div>
</div>
