@import "mixins";

.cta {
  padding: 3.5rem 0;
  text-align: center;

  @include tablet-port {
    padding: 2.5rem 0;
  }

  &__book-now {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 2.5rem;
  }

  .btn {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 300;
    border: none;
    border-radius: 100px;
    background-image: linear-gradient(
      to right,
      var(--color-primary-light),
      var(--color-primary-dark)
    );
    color: #fff;
    position: relative;
    cursor: pointer;
    overflow: hidden;

    & > * {
      display: inline-block;
      height: 100%;
      width: 100%;
      transition: all 0.2s;
    }

    &__visible {
      padding: 2rem 7.5rem;
    }

    &__invisible {
      position: absolute;
      padding: 2rem 0;

      left: 0;
      top: -100%;
    }

    &:hover {
      background-image: linear-gradient(
        to left,
        var(--color-primary-light),
        var(--color-primary-dark)
      );
      animation: pulsate 1s infinite;

      .btn__visible {
        transform: translateY(100%);
      }
      .btn__invisible {
        top: 0;
      }
    }
  }
}
